/*!
 * This file is part of App Builder
 *
 * ©2018 App Builder - https://www.davidesperalta.com
 *//* CSS gerado automaticamente pelo aplicativo */
html, body { width: 320px; height: 480px; }
#KindSelect { position: absolute; top: 40.00%; left: 5.00%; width: 90.00%; height: 8.33%; }
#Label1 { position: absolute; top: 35.00%; left: 5.00%; width: 90.00%; height: 4.17%; }
